<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body style="text-align: center;  margin: 0; align-content: center;">
    <header style="background-color:lightblue;color:navy;">
        <h1 style="margin: 0;">DIY Platform</h1>
        <%- include('partials/nav') %>
    </header>
    <button>
        <a href="/authors">Back to Authors</a>
    </button>

    <% if (authorDetails.length <=0) { %>
        <p style="text-align: center;">Belum ada detail author yang tersedia.</p>
        <% } else { %>
            <div style="display: flex; justify-content: center;">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Author</th>
                            <th>Gender</th>
                            <th>Total Posts</th>
                            <th>Total Votes</th>
                            <th>Average Estimated Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% authorDetails.forEach(el=> { %>
                            <tr>
                                <td>
                                    <%= el.id %>
                                </td>
                                <td>
                                    <%= el.formatName %>
                                </td>
                                <td>
                                    <%= el.gender %>
                                </td>
                                <td <% if (el.totalPost===0) { %>
                                    style = "color: red;"
                                    <% } %>>
                                        <%= el.totalPost %>
                                </td>
                                <td <% if (el.totalVote===0) { %>
                                    style = "color: red;"
                                    <% } %>>
                                        <%= el.totalVote%>
                                </td>
                                <td <% if (el.averageTime===0) { %>
                                    style = "color: red;"
                                    <% } %>>
                                        <%= el.averageTime%>
                                </td>


                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <% } %>
</body>

</html>